<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBundleLabel">Create or edit a Bundle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bundle.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bundle.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bundleName">Bundle Name</label>
            <input type="text" class="form-control" name="bundleName" id="field_bundleName"
                [(ngModel)]="bundle.bundleName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bundleKey">Bundle Key</label>
            <input type="text" class="form-control" name="bundleKey" id="field_bundleKey"
                [(ngModel)]="bundle.bundleKey" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_awdSourceType">Awd Source Type</label>
            <input type="text" class="form-control" name="awdSourceType" id="field_awdSourceType"
                [(ngModel)]="bundle.awdSourceType" maxlength="25"/>
            <div [hidden]="!(editForm.controls.awdSourceType?.dirty && editForm.controls.awdSourceType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.awdSourceType?.errors?.maxlength">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
