
<div *ngIf="bundle">
    <h2><span>Bundle</span> {{bundle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Bundle Name</span></dt>
        <dd>
            <span>{{bundle.bundleName}}</span>
        </dd>
        <dt><span>Bundle Key</span></dt>
        <dd>
            <span>{{bundle.bundleKey}}</span>
        </dd>
        <dt><span>Awd Source Type</span></dt>
        <dd>
            <span>{{bundle.awdSourceType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bundle/'+ bundle.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
