<div>
    <h2>
        <span>Bundle Groups</span>
        <button class="btn btn-primary float-right jh-create-entity create-bundle-group" [routerLink]="['/', { outlets: { popup: ['bundle-group-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Bundle Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bundleGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Bundle Group Name</span></th>
            <th><span>Bundle Group Key</span></th>
            <th><span>Bundle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bundleGroup of bundleGroups ;trackBy: trackId">
                <td><a [routerLink]="['../bundle-group', bundleGroup.id ]">{{bundleGroup.id}}</a></td>
                <td>{{bundleGroup.bundleGroupName}}</td>
                <td>{{bundleGroup.bundleGroupKey}}</td>
                <td>
                    <span *ngFor="let bundle of bundleGroup.bundles; let last = last">
                            <a class="form-control-static" [routerLink]="['../bundle', bundle?.id ]">{{bundle.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bundle-group', bundleGroup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bundle-group/'+ bundleGroup.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bundle-group/'+ bundleGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
