<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBundleGroupLabel">Create or edit a Bundle Group</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bundleGroup.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bundleGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bundleGroupName">Bundle Group Name</label>
            <input type="text" class="form-control" name="bundleGroupName" id="field_bundleGroupName"
                [(ngModel)]="bundleGroup.bundleGroupName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bundleGroupKey">Bundle Group Key</label>
            <input type="text" class="form-control" name="bundleGroupKey" id="field_bundleGroupKey"
                [(ngModel)]="bundleGroup.bundleGroupKey" />
        </div>

        <div class="form-group">
            <label for="field_bundle">Bundle</label>
            <select class="form-control" id="field_bundle" multiple name="bundle" [(ngModel)]="bundleGroup.bundles">
                <option [ngValue]="getSelected(bundleGroup.bundles, bundleOption)" *ngFor="let bundleOption of bundles; trackBy: trackBundleById">{{bundleOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
