
<div *ngIf="bundleGroup">
    <h2><span>Bundle Group</span> {{bundleGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Bundle Group Name</span></dt>
        <dd>
            <span>{{bundleGroup.bundleGroupName}}</span>
        </dd>
        <dt><span>Bundle Group Key</span></dt>
        <dd>
            <span>{{bundleGroup.bundleGroupKey}}</span>
        </dd>
        <dt><span>Bundle</span></dt>
        <dd>
            <span *ngFor="let bundle of bundleGroup.bundles; let last = last">
                <a [routerLink]="['/bundle', bundle?.id ]">{{bundle.bundleName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bundle-group/'+ bundleGroup.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
