<div>
    <h2>
        <span>Printers</span>
        <button class="btn btn-primary float-right jh-create-entity create-printer" [routerLink]="['/', { outlets: { popup: ['printer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Printer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="printers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Printer Name</span></th>
            <th><span>Printer Description</span></th>
            <th><span>Managed</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let printer of printers ;trackBy: trackId">
                <td><a [routerLink]="['../printer', printer.id ]">{{printer.id}}</a></td>
                <td>{{printer.printerName}}</td>
                <td>{{printer.printerDescription}}</td>
                <td>{{printer.managed}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../printer', printer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'printer/'+ printer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'printer/'+ printer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
