<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPrinterLabel">Create or edit a Printer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!printer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="printer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_printerName">Printer Name</label>
            <input type="text" class="form-control" name="printerName" id="field_printerName"
                [(ngModel)]="printer.printerName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_printerDescription">Printer Description</label>
            <input type="text" class="form-control" name="printerDescription" id="field_printerDescription"
                [(ngModel)]="printer.printerDescription" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_managed">Managed</label>
            <input type="checkbox" class="form-control" name="managed" id="field_managed"
                [(ngModel)]="printer.managed" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_aceCompany">Ace Company</label>
            <select class="form-control" id="field_aceCompany" name="aceCompany" [(ngModel)]="printer.aceCompany" >
                <option [ngValue]="null"></option>
                <option [ngValue]="aceCompanyOption.id === printer.aceCompany?.id ? printer.aceCompany : aceCompanyOption" *ngFor="let aceCompanyOption of acecompanies; trackBy: trackAceCompanyById">{{aceCompanyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
