
<div *ngIf="printer">
    <h2><span>Printer</span> {{printer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Printer Name</span></dt>
        <dd>
            <span>{{printer.printerName}}</span>
        </dd>
        <dt><span>Printer Description</span></dt>
        <dd>
            <span>{{printer.printerDescription}}</span>
        </dd>
        <dt><span>Managed</span></dt>
        <dd>
            <span>{{printer.managed}}</span>
        </dd>
        <dt><span>Ace Company</span></dt>
        <dd>
            <div *ngIf="printer.aceCompany">
                <a [routerLink]="['/ace-company', printer.aceCompany?.id]">{{printer.aceCompany?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'printer/'+ printer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
