<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBundleToDocumentLabel">Create or edit a Bundle To Document</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bundleToDocument.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bundleToDocument.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_collateSequence">Collate Sequence</label>
            <input type="number" class="form-control" name="collateSequence" id="field_collateSequence"
                [(ngModel)]="bundleToDocument.collateSequence" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_optional">Optional</label>
            <input type="checkbox" class="form-control" name="optional" id="field_optional"
                [(ngModel)]="bundleToDocument.optional" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_bundle">Bundle</label>
            <select class="form-control" id="field_bundle" name="bundle" [(ngModel)]="bundleToDocument.bundle" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bundleOption.id === bundleToDocument.bundle?.id ? bundleToDocument.bundle : bundleOption" *ngFor="let bundleOption of bundles; trackBy: trackBundleById">{{bundleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_document">Document</label>
            <select class="form-control" id="field_document" name="document" [(ngModel)]="bundleToDocument.document" >
                <option [ngValue]="null"></option>
                <option [ngValue]="documentGenericOption.id === bundleToDocument.document?.id ? bundleToDocument.document : documentGenericOption" *ngFor="let documentGenericOption of documentgenerics; trackBy: trackDocumentGenericById">{{documentGenericOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
