<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLaunchLabel">Create or edit a Launch</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!launch.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="launch.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_launchApp">Launch App</label>
            <input type="text" class="form-control" name="launchApp" id="field_launchApp"
                [(ngModel)]="launch.launchApp" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_launchKey">Launch Key</label>
            <input type="text" class="form-control" name="launchKey" id="field_launchKey"
                [(ngModel)]="launch.launchKey" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_enabled">Enabled</label>
            <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                [(ngModel)]="launch.enabled" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_bundleGroup">Bundle Group</label>
            <select class="form-control" id="field_bundleGroup" name="bundleGroup" [(ngModel)]="launch.bundleGroup" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bundleGroupOption.id === launch.bundleGroup?.id ? launch.bundleGroup : bundleGroupOption" *ngFor="let bundleGroupOption of bundlegroups; trackBy: trackBundleGroupById">{{bundleGroupOption.bundleGroupName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
