<div>
    <h2>
        <span>Launches</span>
        <button class="btn btn-primary float-right jh-create-entity create-launch" [routerLink]="['/', { outlets: { popup: ['launch-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Launch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="launches">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Launch App</span></th>
            <th><span>Launch Key</span></th>
            <th><span>Enabled</span></th>
            <th><span>Bundle Group</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let launch of launches ;trackBy: trackId">
                <td><a [routerLink]="['../launch', launch.id ]">{{launch.id}}</a></td>
                <td>{{launch.launchApp}}</td>
                <td>{{launch.launchKey}}</td>
                <td>{{launch.enabled}}</td>
                <td>
                    <div *ngIf="launch.bundleGroup">
                        <a [routerLink]="['../bundle-group', launch.bundleGroup?.id ]" >{{launch.bundleGroup?.bundleGroupName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../launch', launch.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'launch/'+ launch.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'launch/'+ launch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
