<div>
    <h2>
        <span>Print Managements</span>
        <button class="btn btn-primary float-right jh-create-entity create-print-management" [routerLink]="['/', { outlets: { popup: ['print-management-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Print Management
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="printManagements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Printer Name</span></th>
            <th><span>When Document Created</span></th>
            <th><span>From Server</span></th>
            <th><span>Document File Name</span></th>
            <th><span>Document Full Path</span></th>
            <th><span>Document Status</span></th>
            <th><span>Try Count</span></th>
            <th><span>When Processed</span></th>
            <th><span>Processing Duration</span></th>
            <th><span>Processing Info</span></th>
            <th><span>Extra Field</span></th>
            <th><span>From Request</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let printManagement of printManagements ;trackBy: trackId">
                <td><a [routerLink]="['../print-management', printManagement.id ]">{{printManagement.id}}</a></td>
                <td>{{printManagement.printerName}}</td>
                <td>{{printManagement.whenDocumentCreated | date:'medium'}}</td>
                <td>{{printManagement.fromServer}}</td>
                <td>{{printManagement.documentFileName}}</td>
                <td>{{printManagement.documentFullPath}}</td>
                <td>{{printManagement.documentStatus}}</td>
                <td>{{printManagement.tryCount}}</td>
                <td>{{printManagement.whenProcessed | date:'medium'}}</td>
                <td>{{printManagement.processingDuration}}</td>
                <td>{{printManagement.processingInfo}}</td>
                <td>{{printManagement.extraField}}</td>
                <td>
                    <div *ngIf="printManagement.fromRequest">
                        <a [routerLink]="['../web-service-request-audit', printManagement.fromRequest?.id ]" >{{printManagement.fromRequest?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../print-management', printManagement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'print-management/'+ printManagement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'print-management/'+ printManagement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
