<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPrintManagementLabel">Create or edit a Print Management</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!printManagement.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="printManagement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_printerName">Printer Name</label>
            <input type="text" class="form-control" name="printerName" id="field_printerName"
                [(ngModel)]="printManagement.printerName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_whenDocumentCreated">When Document Created</label>
            <div class="d-flex">
                <input id="field_whenDocumentCreated" type="datetime-local" class="form-control" name="whenDocumentCreated" [(ngModel)]="printManagement.whenDocumentCreated"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fromServer">From Server</label>
            <input type="text" class="form-control" name="fromServer" id="field_fromServer"
                [(ngModel)]="printManagement.fromServer" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_documentFileName">Document File Name</label>
            <input type="text" class="form-control" name="documentFileName" id="field_documentFileName"
                [(ngModel)]="printManagement.documentFileName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_documentFullPath">Document Full Path</label>
            <input type="text" class="form-control" name="documentFullPath" id="field_documentFullPath"
                [(ngModel)]="printManagement.documentFullPath" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_documentStatus">Document Status</label>
            <input type="text" class="form-control" name="documentStatus" id="field_documentStatus"
                [(ngModel)]="printManagement.documentStatus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tryCount">Try Count</label>
            <input type="number" class="form-control" name="tryCount" id="field_tryCount"
                [(ngModel)]="printManagement.tryCount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_whenProcessed">When Processed</label>
            <div class="d-flex">
                <input id="field_whenProcessed" type="datetime-local" class="form-control" name="whenProcessed" [(ngModel)]="printManagement.whenProcessed"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_processingDuration">Processing Duration</label>
            <input type="number" class="form-control" name="processingDuration" id="field_processingDuration"
                [(ngModel)]="printManagement.processingDuration" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_processingInfo">Processing Info</label>
            <input type="text" class="form-control" name="processingInfo" id="field_processingInfo"
                [(ngModel)]="printManagement.processingInfo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_extraField">Extra Field</label>
            <input type="text" class="form-control" name="extraField" id="field_extraField"
                [(ngModel)]="printManagement.extraField" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_fromRequest">From Request</label>
            <select class="form-control" id="field_fromRequest" name="fromRequest" [(ngModel)]="printManagement.fromRequest">
                <option [ngValue]="null"></option>
                <option [ngValue]="webServiceRequestAuditOption.id === printManagement.fromRequest?.id ? printManagement.fromRequest : webServiceRequestAuditOption" *ngFor="let webServiceRequestAuditOption of fromrequests; trackBy: trackWebServiceRequestAuditById">{{webServiceRequestAuditOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
