
<div *ngIf="documentGeneric">
    <h2><span>Document Generic</span> {{documentGeneric.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Generic Key</span></dt>
        <dd>
            <span>{{documentGeneric.genericKey}}</span>
        </dd>
        <dt><span>Match Issue Or Resident State</span></dt>
        <dd>
            <span>{{documentGeneric.matchIssueOrResidentState}}</span>
        </dd>
        <dt><span>Document Type</span></dt>
        <dd>
            <div *ngIf="documentGeneric.documentType">
                <a [routerLink]="['/document-type', documentGeneric.documentType?.id]">{{documentGeneric.documentType?.genericKey}}</a>
            </div>
        </dd>
        <dt><span>Ace Company</span></dt>
        <dd>
            <span *ngFor="let aceCompany of documentGeneric.aceCompanies; let last = last">
                <a [routerLink]="['/ace-company', aceCompany?.id ]">{{aceCompany.description}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'document-generic/'+ documentGeneric.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
