
<div *ngIf="webServiceRequestAudit">
    <h2><span>Web Service Request Audit</span> {{webServiceRequestAudit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Request When</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.requestWhen | date:'medium'}}</span>
        </dd>
        <dt><span>Operation</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.operation}}</span>
        </dd>
        <dt><span>Duration Ms</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.durationMs}}</span>
        </dd>
        <dt><span>Exception</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.exception}}</span>
        </dd>
        <dt><span>Ws Request</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.wsRequest}}</span>
        </dd>
        <dt><span>Ws Response</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.wsResponse}}</span>
        </dd>
        <dt><span>Calling App</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.callingApp}}</span>
        </dd>
        <dt><span>From Server</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.fromServer}}</span>
        </dd>
        <dt><span>Extra Field</span></dt>
        <dd>
            <span>{{webServiceRequestAudit.extraField}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'web-service-request-audit/'+ webServiceRequestAudit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
